@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor1 : #BF64A5;
    --cor2 : #38BDF2;
    --cor3 : #BAD94A;
    --cor4 : #F2F2F2;
    --marrom: #8B4513;
    --preto : #000000;
    --branco : #FFFFFF;

    --font-regular: "Merriweather Sans", serif;
    --font-principal: "Merriweather" , serif;
}

main{
    background-image: url(../imagens/fundo-G.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

header{

}