@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --cor1 : #BF64A5;
    --cor2 : #38BDF2;
    --cor3 : #BAD94A;
    --cor4 : #e4e4e4dd;
    --marrom: #8B4513;
    --preto : #000000;
    --branco : #FFFFFF;
    --sombra : #362619c2;

    --font-regular: "Merriweather Sans", serif;
    --font-principal: "Merriweather" , serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: var(--font-principal);
    background-image: url("../imagens/fundo-G.jpg"); /* Imagem de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

body::after {
    content: ""; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--sombra); /* Cor da sombra */
    z-index: -1; /* Coloca a sombra atrás do conteúdo */
}

header{
    position: sticky; /*Header fica fixo mesmo com a rolagem*/
    top: 0; /*Necessario para que o header fique fixo*/
    width: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between; /*Posiciona os elemntos ao lado direito da tela*/
}

header picture{   
    padding-left: 30vh;
}

.logo img {
    width: 80px; /* Defina a largura desejada da imagem */
    height: auto; /* Mantém a proporção da imagem */
}


nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /*Posiciona os elementos da lista, um ao lado do outro*/
}

nav ul li{
    margin-left: 10px;
}

nav ul li:first-child{ /*Primeiro elemento da lista*/
    margin-left: 0px;
}
nav ul li:last-child{ /*ultimo elemento da lista*/
    margin-right: 23vh;
}

nav ul li a{
    color: var(--preto);
    opacity: 60%;
    text-decoration: none;
    padding: 5px;
    transition: 0.1s;
    font-family: var(--font-regular);
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover{
    color: var(--preto);
    opacity: 100%;
}

/* Responsividade MODELO: Tablet 1024x1279 */
/* HEADER E NAV BAR */
@media (max-width:1242px){
    body{
        width: 100vh;
        height: 100vh;
    }

    header{
        width: 100vh;
        height: 14vh;
    }

    header picture{   
        padding-left: 10vh;
    }

    .logo img{
        width: 150px;
    }

    nav ul li a{
        color: var(--preto);
        opacity: 60%;
        text-decoration: none;
        padding: 5px;
        transition: 0.1s;
        font-family: var(--font-regular);
        font-size: 2em;
        font-weight: bold;
    }

    nav ul li:first-child{ /*Primeiro elemento da lista*/
        margin-left: 0px;
    }
    nav ul li:last-child{ /*ultimo elemento da lista*/
        margin-right: 5vh;
    }
    nav ul li{
        padding: 3px;
    }
}

/*  */