@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --cor1: #BF64A5;
    --cor2: #38BDF2;
    --cor3: #BAD94A;
    --cor3-1: #6c8418;
    --cor4: #e4e4e4dd;
    --marrom: #110603;
    --preto: #000000;
    --branco: #FFFFFF;
    --sombra: #362619c2;

    --font-regular: "Merriweather Sans", serif;
    --font-principal: "Merriweather", serif;
}

body {
    width: 100vw;
    height: 100vh;
    position: relative;
    font-family: var(--font-principal);
    background-image: url("../imagens/fundo-G.jpg");
    /* Imagem de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 100px;
    background-position: center center;

    overflow-x: hidden; /* Adicionando overflow-x: hidden para ocultar a rolagem lateral */
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--sombra);
    background-attachment: fixed;
    /* Cor da sombra */
    z-index: -1;
    /* Coloca a sombra atrás do conteúdo */
}

header {
    height: 90px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    background-color: var(--branco);
    box-shadow: 1px 1px 10px black;
    justify-content: space-between;
    z-index: 9999; /* Aumenta o z-index para garantir que o cabeçalho esteja na parte superior */
}


header picture {
    padding-left: 30vh;
}

.logo img {
    width: 80px;
    /* Defina a largura desejada da imagem */
    height: auto;
    /* Mantém a proporção da imagem */
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /*Posiciona os elementos da lista, um ao lado do outro*/
}

nav ul li {
    margin-left: 10px;
}

nav ul li:first-child {
    /*Primeiro elemento da lista*/
    margin-left: 0px;
}

nav ul li:last-child {
    /*ultimo elemento da lista*/
    margin-right: 23vh;
}

nav ul li a {
    color: var(--preto);
    opacity: 60%;
    text-decoration: none;
    padding: 5px;
    transition: 0.1s;
    font-family: var(--font-regular);
    font-size: 1.1em;
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--preto);
    opacity: 100%;
}

section.title{
    width: 100vw;
    height: 630px;
    position: relative;
}

section article.conteudo{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% ,-50px);

}

section article.conteudo h1{
    text-align: center;
    color: var(--branco);
    font-size: 4.0em;
    font-family: var(--font-regular);
}

section article.conteudo p{
    color: var(--cor4);
    font-family: var(--font-regular);
    font-size: 1.4em;
    text-align: center;
}

section button.orçamento{
    position: absolute;

    bottom: 80px; /* Defina a distância do botão em relação ao fundo */
    top: 60%;
    left: 50%; /* Alinhe o botão horizontalmente no centro */
    transform: translateX(-50%); /* Centralize horizontalmente */
    width: 230px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--cor3);
    color: var(--marrom);
    text-transform: uppercase;
    font-size: 0.9em; 
    transition: 0.2s;

    /* Novas propriedades para remover o sombreamento */
    border: none;
}

section button.orçamento:hover{
    background-color: var(--cor3-1  );
    width: 230px;
    height: 60px;
    border-radius: 50px;
}



section.introducao{
    width: 100vw;
    height: 570px;
    position: relative;
    background-color: var(--marrom);

}

section.introducao article{
    text-align: center;
}

section.introducao article.introd01{
    position: absolute;
    top: 30%;
    left: 50%;

    transform: translate(-50%, -50%);

    font-size: 1.3em;
    font-family: var(--font-regular);
    color: var(--branco);
}

section.introducao article.introd02{
    position: absolute;
    top: 55%;
    left: 50%;

    transform: translate(-50%, -50%);
    font-size: 1.2em;
    color: var(--cor4);
}

section button.introducao{
    position: absolute;

    bottom: 80px; /* Defina a distância do botão em relação ao fundo */
    left: 50%; /* Alinhe o botão horizontalmente no centro */
    transform: translateX(-50%); /* Centralize horizontalmente */
    width: 230px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--cor3);
    color: var(--marrom);
    text-transform: uppercase;
    font-size: 0.9em; 
    transition: 0.2s;

    /* Novas propriedades para remover o sombreamento */
    border: none;
}

section button.introducao:hover{
    background-color: var(--cor3-1  );
    width: 230px;
    height: 60px;
    border-radius: 50px;
}

section.principais_servicos{
    width: 100vw;
    height: 600px;
    background-color: var(--branco);
    position: relative;
}

section.principais_servicos article h2{
    position: absolute;
    top: 20%;
    left: 50%;

    transform: translate(-50%, -50%);
    
    font-size: 3em;
    font-family: var(--font-regular);
    text-align: center;
    color: var(--marrom);
}
section.principais_servicos article h3{
    font-size: 1.6em;
    font-family: var(--font-regular);
}

section.principais_servicos article p{
    font-size: 1.1em;
    font-family: var(--font-regular);
    text-align: center;
}

section.principais_servicos article img{
    width: 80px;
    margin-left: 50px;
    margin-bottom: 30px;
}

section.principais_servicos article.Sublimacao{
    position: absolute;
    top: 55%;
    left: 15%;

    transform: translate(-50%, -50%);
}

section.principais_servicos article.Personalizacao{
    position: absolute;
    top: 55%;
    left: 35%;

    transform: translate(-50%, -50%);
}

section.principais_servicos article.Artes{
    position: absolute;
    top: 55%;
    left: 60%;

    transform: translate(-50%, -50%);
}

section.principais_servicos article.Designers{
    position: absolute;
    top: 55%;
    left: 85%;

    transform: translate(-50%, -50%);
}

section.Servicos article {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    height: 400px;
    background-color: var(--marrom);
    color: var(--branco);
    font-family: var(--font-regular);
}

section.Servicos article .servicos-lista {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    list-style-type: '\2660\0020\0020\0020';
    padding: 0;
    margin: 0;
    column-count: 2; /* Dividindo em duas colunas */
    column-gap: 20px; /* Espaço entre as colunas (opcional) */

    font-size: 1.3em;
}


/* Aplicando a largura a cada lista */
section.Servicos article .servicos-lista {
    width: 45%;
}

section.Carrossel-container{
    position: relative;
    width: 100vw;
    height: 850px;
    overflow: hidden;
}

section.Carrossel-container h1{
    position: absolute;
    font-family: var(--font-regular);
    font-size: 2.5em;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--branco);
}

section.Carrossel-container article.imagens{
    display: flex;
    transition: transform 0.5s ease;
}

section.Carrossel-container article.imagens img{
    position: absolute;
    width: 900px;
    height: auto;
    object-fit: cover; /* Isso garante que a imagem seja redimensionada para preencher o espaço enquanto mantém a proporção */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section.Carrossel-container article.imagens img {
    width: 900px; /* Defina a largura desejada */
    height: auto; /* Defina a altura desejada */
    object-fit: cover; /* Isso garante que a imagem seja redimensionada para preencher o espaço enquanto mantém a proporção */
    margin: 10px; /* Adicione margem entre as imagens, se desejar */
    width: auto; /* Defina a largura desejada */
    height: 700px; /* Defina a altura desejada */
    object-fit: cover; /* Isso garante que a imagem seja redimensionada para preencher o espaço enquanto mantém a proporção */
    margin: 10px; /* Adicione margem entre as imagens, se desejar */
}


section.Carrossel-container button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    padding: 20px;
}

section.Carrossel-container button.prev {
    left: 0;
    margin-left: 30px;
}
  
  section.Carrossel-container button.next {
    right: 10px;
    margin-right: 30px;
}

section.Contato{
    position: relative;
    width: 100vw;
    height: 300px;
    background-color: var(--branco);
    color: var(--preto);
}

section.Contato article h2{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: var(--font-regular);
    font-size: 2.5em;
}

section.Contato article p#orçamento{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.4em;
}

section.Contato article.Telefones {
    display: flex; /* Adiciona um layout flexível para os botões */
    justify-content: center; /* Centraliza os botões horizontalmente */
    align-items: center; /* Centraliza os botões verticalmente */
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}

section.Contato article.Telefones button{
    width: 200px;
    height: 40px;
    margin: 20px;
}

section.Contato article.Telefones button{
    width: 230px;
    height: 60px;
    border-radius: 50px;
    background-color: var(--cor3);
    color: var(--marrom);
    text-transform: uppercase;
    font-size: 0.9em; 
    transition: 0.2s;

    /* Novas propriedades para remover o sombreamento */
    border: none;
}   

section.Contato article.Telefones button:hover{
    background-color: var(--cor3-1  );
    width: 230px;
    height: 60px;
    border-radius: 50px;
}   


section.Contato article.Telefones button i {
    font-size: 1.2em; /* Ajusta o tamanho do ícone (aumentado para 1.5 vezes o tamanho padrão) */
    margin-right: 10px; /* Adiciona um espaço entre o ícone e o texto */
}

footer{
    position: relative;
    width: 100vw;
    height: 40px;
    font-family: var(--font-regular);
    background-color: var(--marrom);
    color: var(--branco);
}

footer p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer p a{
    color: var(--cor4);
    text-decoration: none;
}

footer p a:hover{
    color: var(--branco);
}

/* Para telas de até 762px */
/* Para telas de até 762px */
@media screen and (max-width: 762px) {

}
